/* style.css */
@font-face {
  font-family: godOfWarFont;
  src: url(/assets/fonts/godofwar/GODOFWAR.TTF);
}

html, body {
  height: 100%;
}

body {
  background-image: url(/assets/image/background.png);
  background-size: 100%;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}